.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    place-items: center;
    column-gap: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1280px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
